<!DOCTYPE html>

<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello,vue.js</title>
  <link rel="stylesheet" href="CSS/style.css">
</head>

<body>
  <div id="app">
   <h2>TODO LIST</h2>
   <form v-on:submit.prevent>
     <input type="text" v-model="newItem">
     <button v-on:click="addItem">add</button>
   </form>
  
   <ul>
     <li v-for="(todo,index) in todos">
       <input type="checkbox" v-model="todo.isDone">
       <!-- 完了済タスクに線を引く -->
       <span v-bind:class="{done:todo.isDone}">{{ todo.item }}</span>
       <button v-on:click="deliteItem(index)">Delete</button>
     </li>
   </ul>


   
  <!-- デバック用 -->
  <!-- <pre>{{$data}}</pre> -->

  <!-- コンポーネントを出力 -->
  <!-- <hello-component></hello-component> -->
  </div>

  <!-- vie.jsを先に読み込む -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>